pkgbase = python-poetry-plugin-export
	pkgdesc = Poetry plugin to export the dependencies to various formats
	pkgver = 1.5.0
	pkgrel = 3
	url = https://github.com/python-poetry/poetry-plugin-export
	arch = any
	license = MIT
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-xdist
	makedepends = python-build
	makedepends = python-installer
	depends = python-poetry
	source = https://github.com/python-poetry/poetry-plugin-export/archive/1.5.0/python-poetry-plugin-export-1.5.0.tar.gz
	sha512sums = 4ab4986b0a534bf6e2ff7c5a154065e8a2ae987ce8fd1211a69a41f8026ee86a239559474cb11784d2340f25c2809a288983b54cb9f38ca9dc48551554cc9fa3

pkgname = python-poetry-plugin-export
