pkgbase = python-poetry-plugin-export
	pkgdesc = Poetry plugin to export the dependencies to various formats
	pkgver = 1.7.1
	pkgrel = 1
	url = https://github.com/python-poetry/poetry-plugin-export
	arch = any
	license = MIT
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-xdist
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-poetry
	source = https://github.com/python-poetry/poetry-plugin-export/archive/1.7.1/python-poetry-plugin-export-1.7.1.tar.gz
	sha512sums = e816fadbe2e42c667e818d36373ff9cdb7b52fac3b0ea04a91c71a474780dea4fef7e283c4a7655ed63277c857e08a2485359289a5cc34ea2392db375f01c4f2

pkgname = python-poetry-plugin-export
