pkgbase = python-poetry-plugin-export
	pkgdesc = Poetry plugin to export the dependencies to various formats
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/python-poetry/poetry-plugin-export
	arch = any
	license = MIT
	checkdepends = python-pytest-mock
	checkdepends = python-pytest-xdist
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-poetry
	source = https://github.com/python-poetry/poetry-plugin-export/archive/1.6.0/python-poetry-plugin-export-1.6.0.tar.gz
	sha512sums = 9ea155a2f80b63c0ed7261615041048f0afdacbb21a6c0618cf4174cc76b2c10ac3102eb7325fda760d6cfac0e95b9194b2f16c33395c88dffcea9ddfaf0ac65

pkgname = python-poetry-plugin-export
